{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
        <title>To Do list</title>
    </head>
    <body>
        <div class="container">
            <div class="task-container">
                <div class="form-wrapper">
                    <form action="" class="form">
                        <div class="input-section">
                            <input id="titles" name="" placeholder="Input Task..." type="text"/>
                        </div>
                        <div class="submit-section">
                            <input class="button" type="submit" value="Submit"/>
                        </div>
                    </form>
                </div>
                <div class="list-wrapper">
                    <hr/>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/todo.js'%}"></script>
</html>
